<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="p8project.sw801">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MvvmApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.event.addevent.AddEvent" />
        <activity android:name=".ui.event.addeventaccessory.AddEventAccessory" />
        <activity android:name=".ui.event.addeventhue.AddEventHue" />
        <activity android:name=".ui.event.addeventnest.AddEventNest" />
        <activity android:name=".ui.event.addeventsmartdevice.AddEventSmartDevice" />
        <activity android:name=".ui.event.createeventmap.CreateEventMap" />
        <activity android:name=".ui.event.editevent.EditEvent" />
        <activity android:name=".ui.MapsActivity" />
        <activity android:name=".ui.Settings.AddGlobalMuteSetting.AddGlobalMuteSettingActivity" />
        <activity android:name=".ui.Settings.EditGlobalMuteSetting.EditGlobalMuteSettingActivity" />
        <activity android:name=".ui.Settings.GlobalMuteSetting.GlobalMuteSettingActivity" />
        <activity android:name=".ui.Settings.Location.AddLocation.AddLocationSettingActivity" />
        <activity android:name=".ui.Settings.Location.EditLocation.EditLocationSettingActivity" />
        <activity android:name=".ui.Settings.Location.LocationSettingActivity" />
        <activity android:name=".ui.Settings.SettingsActivity" />
        <activity android:name=".ui.Settings.Shopping.ShoppingSettingActivity" />
        <activity android:name=".ui.SmartDevice.EditSmartDevice.EditSmartDeviceActivity" />
        <activity android:name=".ui.SmartDevice.AddSmartDevice.AddSmartDeviceActivity"/>
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>